/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

.chat-container {
  padding: 10px;
  max-height: 400px;
  overflow-y: auto;
  border-top: 1px solid #ddd;
}

 .chat-bubble {
    background-color: #f3d5d5;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
    color: #3d1f1f;
  }
.mensaje {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: fit-content;
}

.mensaje strong {
  font-weight: bold;
}

.mensaje p {
  margin: 0;
  padding: 0;
}

.mensaje span {
  font-size: 0.8em;
  color: gray;
}

.escribir {
  margin-top: 20px;
}

.escribir textarea {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ddd;
}

.escribir button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.escribir button:hover {
  background-color: #0056b3;
}

  